{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row form-container">
            <div id="label-container" class="col-sm-2">
                {{ form.text.label }}:
            </div>
            <div class="col-sm-10">
                {{ form.text }}
            </div>
        </div>
            {% if new_text %}
                <div class="row form-container">
                    <div id="label-container" class="col-sm-2">Result:</div>
                    <div class="col-sm-10">
                        <div class="result">
                            <div class="mb-3">
                                {% if new_text.synonyms %}
                                    Synonyms:
                                        {% for word in new_text.synonyms %}
                                            {{ word }}
                                        {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {% if new_text.hyponyms %}
                                    Hyponyms (particular entities):
                                        {% for word in new_text.hyponyms %}
                                            {{ word }}
                                        {% endfor %}
                                {% endif %}
                            </div>
                            {% if new_text.hypernyms %}
                                Hypernyms (general entities):
                                    {% for word in new_text.hypernyms %}
                                        {{ word }}
                                    {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 center-display">
                    <button class="submit-button" type="submit" value="Send message">Parse it!</button>
                </div>
            </div>
    </form>
{% endblock %}
