{% extends 'base.html' %}

{% block content %}
    <h3>Welcome to Presentation of EYAZIS laboratories</h3>
    <div class="row">
        <div class="col-sm-8">
            <div class="mt-3 mb-5">
                <a href="lab1/">First lab (english)</a>
            </div>
            <div class="mb-5">
                <a href="lab2/">Second lab (russian)</a>
            </div>
            <div class="mb-5">
                <a href="lab3/">Third lab (russian)</a>
            </div>
            <div class="mb-5">
                <a href="lab4/">Fourth lab (russian)</a>
            </div>
        </div>
        <div class="col-sm-4 menu-container">
            Click on link to open laboratory realization
        </div>
    </div>
{% endblock %}
